<hr>
<h2 style="text-align: center;">Events Organizing</h2>
<div class="container-fluid" style="padding-top: 25px;">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="col-md-1">
                    <a class="left carousel-control" href="#carousel-example-generic"   class="hvr-icon-back" role="button" data-slide="prev">
                        <i class="fa fa-arrow-circle-o-left hvr-icon" style="margin-top: 195px;"></i>
                    </a>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class=" col-md-3">
                            <div class="thumbnail">
                                <a href="#" type="botton">
                                    <img class="hvr-grow1" src="./assets/Images/mehindi.jpg" alt="...">
                                </a>
                                <div class="caption">
                                    <h3>Mehndi <br>Ceremony</h3>
                                    <p>
                                        <a href="#" class="btn btn-primary btn-block" role="button">BookNow</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3">
                            <div class="thumbnail">
                                <a href="#" type="botton">
                                    <img class="hvr-grow1" src="./assets/Images/groom aravial.png" alt="...">
                                </a>
                                <div class="caption">
                                    <h3>Groom's Arrival Celebration</h3>
                                    <p><a href="#" class="btn btn-primary btn-block" role="button">BookNow</a></p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3">
                            <div class="thumbnail">
                                <a href="#" type="botton">
                                    <img class="hvr-grow1" src="./assets/Images/makeup.jpg">
                                </a>
                                <div class="caption">
                                    <h3>wedding-day<br> makeup</h3>
                                    <p><a href="#" class="btn btn-primary btn-block" role="button">BookNow</a></p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3">
                            <div class="thumbnail">
                                <a href="#" type="botton">
                                    <img class="hvr-grow1" src="./assets/Images/photography.jpg">
                                </a>
                                <div class="caption">
                                    <h3>Wedding<br> photography</h3>
                                    <p><a href="#" class="btn btn-primary btn-block" role="button">BookNow</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <a class="right carousel-control" href="#carousel-example-generic" class="hvr-icon-forward" role="button" data-slide="next">
                     <i class="fa fa-arrow-circle-o-right hvr-icon" style="margin-left: 15px; margin-top: 100px;"></i>
                </a>
                </div>
            </div>
            <div class="item">
                <div class="col-md-1">
                    <a class="left carousel-control" href="#carousel-example-generic"   class="hvr-icon-back" role="button" data-slide="prev">
                        <i class="fa fa-arrow-circle-o-left hvr-icon" style="margin-top: 195px;"></i>
                    </a>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class=" col-md-3">
                            <div class="thumbnail">
                                <a href="#" type="botton">
                                    <img class="hvr-grow1" src="./assets/Images/DJ night.jpg" alt="...">
                                </a>
                                <div class="caption">
                                    <h3>Dj Party<br> Night</h3>
                                    <p>
                                        <a href="#" class="btn btn-primary btn-block" role="button">BookNow</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3">
                            <div class="thumbnail">
                                <a href="#" type="botton">
                                    <img class="hvr-grow1" src="./assets/Images/wedding decoration.jpg" alt="...">
                                </a>
                                <div class="caption">
                                    <h3>Wedding hall decoration</h3>
                                    <p><a href="#" class="btn btn-primary btn-block" role="button">BookNow</a></p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3">
                            <div class="thumbnail">
                                <a href="#" type="botton">
                                    <img class="hvr-grow1" src="./assets/Images/sangeeth ceremony.jpg">
                                </a>
                                <div class="caption">
                                    <h3>Sangeet<br> Ceremony</h3>
                                    <p><a href="#" class="btn btn-primary btn-block" role="button">BookNow</a></p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3">
                            <div class="thumbnail">
                                <a href="#" type="botton">
                                    <img class="hvr-grow1" src="./assets/Images/food catering.jpg">
                                </a>
                                <div class="caption">
                                    <h3>Food <br> Catering</h3>
                                    <p><a href="#" class="btn btn-primary btn-block" role="button">BookNow</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <a class="right carousel-control" href="#carousel-example-generic" class="hvr-icon-forward" role="button" data-slide="next">
                     <i class="fa fa-arrow-circle-o-right hvr-icon" style="margin-left: 15px; margin-top: 100px ;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <img src="./assets/Images/arshad-pooloo-GdwWrLHdwpw-unsplash.jpg" alt="" height="550px" width="100%"
        style="opacity: 0.6;">
</div>
<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3><b>Explore Vedikas</b></h3>
                <p>List Your Venue</p>
                <p>Book With Confidence</p>
                <p>Trust & Safety</p>
                <p>Hall Rental Guides</p>
            </div>
            <div class="col-md-3">
                <h3><b>Hall Types</b></h3>
                <p>Ac banquet Halls</p>
                <p>5star Halls</p>
                <p>Mini Halls</p>
                <p>Outdoor Halls</p>
            </div>
            <div class="col-md-6">
                <h3 style="padding-bottom: 12px;"><b>Get special offers from Vedikas</b></h3>
                <form class="form-inline">
                    <div class="form-group  mb-2">
                        <label for="inputemail2" class="sr-only">Email Address</label>
                        <input type="emailaddress" class="form-control" id="inputemail2" placeholder="Email Address"
                            style="height: 50px; width: 420px;">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="row" style="padding-top: 50px;">
            <div class="col-md-6">
                <p>© 2020 Vedikas, All rights reserved.</p>
                <p style="color: blue;">Terms and Conditions · Privacy Policy · Do Not Sell My Personal Information</p>

            </div>
            <div class="col-md-6">
                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                <a href="https://www.youtube.com/" class="fa fa-youtube" style="margin-left: 10px;"></a>
                <a href="https://www.twitter.com/" class="fa fa-twitter" style="margin-left: 10px;"></a>
                <a href="https://www.instagram.com/" class="fa fa-instagram" style="margin-left: 10px;"></a>

            </div>
        </div>
    </div>
</div>
